<h1 class="mb-4">Lista de Productos</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each products}}
    <div class="col">
      <div class="card h-100">
        {{#if thumbnails}}
          <img
            src="/{{lookup thumbnails 0}}"
            class="card-img-top"
            alt="{{title}}"
          />
        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
        </div>

        <a href="/products/{{this._id}}" class="btn btn-primary m-2">Ver Detalle</a>

        <button
          class="btn btn-success m-2 addToCartHome"
          data-id="{{this._id}}"
        >
          Agregar al carrito
        </button>
      </div>
    </div>
  {{/each}}
</div>

<div class="d-flex justify-content-center mt-4">
  <nav>
    <ul class="pagination">
      {{#if hasPrevPage}}
        <li class="page-item">
          <a class="page-link" href="/?page={{prevPage}}">Anterior</a>
        </li>
      {{/if}}

      <li class="page-item active">
        <span class="page-link">{{currentPage}}</span>
      </li>

      {{#if hasNextPage}}
        <li class="page-item">
          <a class="page-link" href="/?page={{nextPage}}">Siguiente</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</div>

<script src="/js/home.js"></script>