<h1 class="mb-4">Lista de Productos</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each products}}
    <div class="col">
      <div class="card h-100">
        {{#if thumbnails}}
          <img
            src="/{{lookup thumbnails 0}}"
            class="card-img-top"
            alt="{{title}}"
          />
        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Precio:</strong>
            ${{this.price}}</li>
          <li class="list-group-item"><strong>Categoría:</strong>
            {{this.category}}</li>
          <li class="list-group-item"><strong>Stock:</strong>
            {{this.stock}}</li>
        </ul>
      </div>
    </div>
  {{/each}}
</div>